header{
    padding: 70px 0;
}

ul{
    list-style: none;
}

a[href].btn-primary{
    outline:none;
}

a.logo{
    height:55px;
    width:350px;
    background: url("http://www.chanel.com/img/logo_chanel.svg") scroll no-repeat top left;
}
